<mat-card>
  <mat-spinner *ngIf="isLoading" color="accent">
    <mat-progress-spinner mode="determinate"></mat-progress-spinner>
  </mat-spinner>
  <form (submit)="onlogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="E-mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Pease enter a valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="password" ngModel type="password" placeholder="password" #passwordInput="ngModel">
      <mat-error *ngIf="passwordInput.invalid">Pease enter a valid password</mat-error>
    </mat-form-field>
    <button mat-raised-button color="warn" type="submit" *ngIf="!isLoading">login</button>
  </form>
</mat-card>
